@charset "ISO-8859-1";

.connection {
	font-size: 30px;
    border-width:15px;
    position: absolute;
	top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ins {
	font-size: 30px;
    border-width:15px;
    position: absolute;
	top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

fieldset
{
	position: absolute;
	top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Times;
	background-color: #D3D3D3;
	margin-bottom: 10px;
	border-radius: 7px;
	box-shadow: #505050 3px 3px 8px;
	width: 15%;
	height: 35%;
}

body {
  background-image: url(fond.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 0;
}